!<!doctype html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <title>Document</title>
</head>
<body>
    <th th:fragment="column_link(fieldName,columnLabel)">
        <a th:if="${sortField!='fieldName'}" class="text-white"
           th:href="@{'/users/list/' + ${currentPage} + '?sortField=Id&sortDir='+${sortDir}+${keyword!=null ? '&keyword=' + keyword:''}}">
            User Id</a>
        <a th:if="${sortField =='Id'}" class="text-white"
           th:href="@{'/users/list/' + ${currentPage} + '?sortField=Id&sortDir='+${reverseSortDir}+${keyword!=null ? '&keyword=' + keyword:''}}">
            User Id</a>

        <span th:if="${sortField=='Id'}"
              th:class="${sortDir=='asc' ? 'fas fa-sort-up':'fas fa-sort-down'}"></span>

    </th>
</body>
</html>