!<!doctype html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <title>Document</title>
</head>
<body>
<th th:fragment="column_link(fieldName, columnLabel)">
<a class="text-white"
   th:href="@{'/users/list/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
    [[${columnLabel}]]
</a>
<span th:if="${sortField == fieldName}"
      th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>
</th>

<a th:fragment="page_link(pageNum, label)" class="page-link"
   th:href="@{'/users/list/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">[[${label}]]</a>

</body>
</html>